.edit {
  height: 100vh;

  .editHeader {
    height: 80px;
    background-color: rgb(60, 60, 60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;

    .editHeaderAction {
      display: flex;
      align-items: center;

      .editBackIcon {
        display: inline-block;
        width: 50px;
        height: 80px;
        border-right: 2px solid rgb(45, 45, 45);
        background-color: rgb(101, 101, 101);
        color: rgb(255, 255, 255);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 16px 12px;
        vertical-align: middle;
        cursor: pointer;
        flex: 0 0 auto;
        background-image: url("https://cdn.jifo.co/js/dist/bac9116713bec842cd1a34ff17f2a13d.svg");

        &:hover {
          text-decoration: none;
          background-color: rgb(125, 125, 125);
        }
      }

      .editHeaderActionBar {
        display: flex;
        //justify-content: space-between;
        align-items: center;

        .editHeaderActionPublicBtn {
          width: 60px;
          height: 25px;
          line-height: 25px;
          border-radius: 4px;
          font-size: 13px;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          margin-left: 20px;
          color: rgb(255, 255, 255);
          background-color: rgb(49, 149, 203);
        }

        .editHeaderActionSelect {
          margin-left: 20px;
          width: 135px;
          color: #fff;
        }

        .editHeaderActionLine {
          height: 25px;
          width: 2px;
          background: rgb(47, 47, 47);
          margin: 0 20px;
        }

        .editHeaderActionBtnList {
          display: flex;

          .editHeaderActionTagBtn,
          .editHeaderActionTimeBtn {
            vertical-align: middle;
            cursor: pointer;
            border-radius: 4px;
            display: block;
            width: 25px;
            min-width: 25px;
            height: 25px;
            margin-right: 10px;
            padding: 0 6px 1px;

            &:hover {
              background-color: rgb(125, 125, 125);
            }
          }

          .editHeaderActionTagBtn {
            background: url("https://cdn.jifo.co/js/dist/067a73164e44143cde8f78a97a1042d3.svg")
              50% 44% no-repeat rgb(101, 101, 101);
            background-size: 15px;
          }

          .editHeaderActionTimeBtn {
            background: url("https://cdn.jifo.co/js/dist/cfc08b36172073df7c8187ca7b78aff6.svg")
              50% 44% no-repeat rgb(101, 101, 101);
            background-size: 15px;
          }

          .editHeaderActionBackBtn,
          .editHeaderActionNextBtn {
            opacity: 0.6;
            cursor: default;
            width: 30px;
            height: 25px;
            min-width: 30px;
            display: inline-block;
            margin-right: 2px;
          }

          .editHeaderActionBackBtn {
            border-radius: 4px 0 0 4px;
            background: url("https://cdn.jifo.co/js/dist/9945ca7a34d0f336bbfbcc70f0532c2f.svg")
              50% 44% no-repeat rgb(128, 128, 128);
            background-size: 15px;
          }

          .editHeaderActionNextBtn {
            border-radius: 0 4px 4px 0;
            background: url("https://cdn.jifo.co/js/dist/ec68761642f26dec6adc8d43dfe28344.svg")
              50% 44% no-repeat rgb(128, 128, 128);
            background-size: 15px;
          }
        }
      }
    }

    .editBtnList {
      .editBtnIconOne,
      .editBtnIconTwo,
      .editBtnIconThree {
        width: 40px;
        height: 40px;
        vertical-align: middle;
        display: inline-block;
        margin-right: 10px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: rgb(125, 125, 125);
        }
      }

      .editBtnIconOne {
        background: url("https://cdn.jifo.co/js/dist/c9eacf28a931afcb5ada6b4cf0ebf97d.svg")
          center center no-repeat rgb(101, 101, 101);
      }

      .editBtnIconTwo {
        background: url("https://cdn.jifo.co/js/dist/960b99fd13106a5e250492fffd8c65d4.svg")
          center center / 15px no-repeat rgb(101, 101, 101);
      }

      .editBtnIconThree {
        background: url("https://cdn.jifo.co/js/dist/ba50b594eed6ff997d4a53b07f0d6d7b.svg")
          center center / 15px no-repeat rgb(101, 101, 101);
      }

      .editDownloadBtn,
      .editShareBtn {
        position: relative;
        padding-left: 10px;
        color: #fff;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: middle;
        height: 40px;
        font-size: 15px;
        border-radius: 4px;
        border: none;
        box-shadow: none;
        text-shadow: none;
        outline: none;
        cursor: pointer;

        .iconStyle {
          display: inline-block;
          width: 15px;
          height: 15px;
          margin: 0 5px 0 0;
          position: absolute;
        }
      }

      .editDownloadBtn {
        background-color: rgb(101, 101, 101);
        min-width: 140px;
        margin-right: 10px;

        .iconStyle {
          top: 12px;
          left: 12px;
          background: url("https://cdn.jifo.co/js/dist/be3c6e65dac65576bc29a2bdf4e03956.svg")
            center center / contain no-repeat;
        }

        &:hover {
          background-color: rgb(125, 125, 125);
        }
      }

      .editShareBtn {
        background-color: rgb(49, 149, 203);
        min-width: 150px;

        .iconStyle {
          top: 11px;
          left: 12px;
          background: url("https://cdn.jifo.co/js/dist/12c5643554f6645686eb88897a92bdc1.svg")
            center center / contain no-repeat;
        }

        &:hover {
          background-color: rgb(95, 183, 229);
        }
      }
    }
  }

  .editContentBox {
    display: flex;
    //justify-content: space-between;
    align-items: stretch;
    height: calc(100vh - 80px);

    .editContentLeft {
      width: 50px;
      background-color: rgb(60, 60, 60);
      border-right: 2px solid rgb(45, 45, 45);
      transition: left 0.35s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    }

    .editContent {
      width: calc(100% - (50px + 230px));
      height: calc(100vh - 80px);
      padding: 20px 55px 20px 55px;
      overflow: auto;
      background-color: #434343;
    }

    .editContentRight {
      border-style: solid;
      border-color: rgb(45, 45, 45);
      color: rgb(216, 216, 216);
      background: rgb(60, 59, 59);
      width: 230px;
    }
  }
}
