.dt-edit-page-warp {
  &-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #aaa;
  }
  &-edit-page {
    background: #303030;
    border-radius: 2px;
    border: 2px solid transparent;
  }
  &-isover {
    border-color: #3494ce;
  }
}
