.dt-edit-page-warp {
  &-edit-page {
    background: rgb(48, 48, 48);
    height: 800px;
    position: relative; // 会影响定位，导致旋转出问题，暂时先不做旋转
    overflow: hidden;
    border-radius: 4px;
    border: 2px solid transparent;
  }
  &-isover {
    border-color: #3494ce;
  }
}
