.signup_sidebar {
  display: inline-block;
  width: 500px;
  background: linear-gradient(135deg, #582e8d, #419bad 100%);
  padding: 30px 30px 0;
  position: relative;
  min-height: 100vh;
  margin: 0;
  border: 0;
  vertical-align: top;
  outline: 0;
  color: white;
  .logo {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 40px;
    width: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3195cb;
    text-decoration: none;
  }
  h2 {
    color: white;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 40px;
  }
  .testimonial {
    font-size: 22px;
    font-style: italic;
    font-weight: 200;
    line-height: 29px;
    margin-bottom: 15px;
  }
  .testimonial_author {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 10px;
    }
    span {
      font-size: 13px;
      font-weight: 500;
      line-height: 17px;
      margin-top: 13px;
    }
  }
  .sidebar_footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba(15, 115, 64, 0.5);
    padding: 30px;
    text-align: center;
    div {
      margin-bottom: 10px;
    }
    img {
      width: 400px;
    }
  }
}
