.left-silder {
  width: 276px;
  height: 100vh;
  background-image: linear-gradient(#2d4164, #3c2e5e);
}

.icon {
  height: 80px;
  box-sizing: border-box;
  padding: 25px 15px 0;
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.infogram {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.upgrade {
  display: inline-block;
  width: 110px;
  height: 30px;
  line-height: 30px;
  background: #3ea771;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.upgrade:hover {
  background: #52d49a;
}

.user {
  height: 100px;
  background: red;
  background-color: #546483;
  font-size: 15px;
  font-weight: 500;
  padding: 0 16px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .user-icon {
    display: inline-block;
    width: 58px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    border-radius: 50%;
    background: rgb(223, 208, 193);
    font-size: 26px;
    font-weight: initial;
  }
  .user-mes {
  }
}
.user:hover {
  background: #667ca4;
}
