.dt-dialog {
  &-header {
    position: relative;
    height: 60px;
    background-color: #f7f7f7;
    font-size: 19px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 10px;
    opacity: 0.9;
  }
  &-back {
    position: absolute;
    left: 20px;
    cursor: pointer;
    font-size: 13px;
    &:hover {
      text-decoration: underline;
    }
  }
  &-close {
    position: absolute;
    right: 20px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  &-tab {
    padding: 0 20px 80px;
  }
  &-pane-share {
    // margin-top: 20px;
  }
  &-title {
    margin: 10px 0;
    font-size: 11px;
    font-weight: 600;
    color: rgb(45, 45, 45);
  }
  &-input {
    height: 40px !important;
  }
  &-text-area {
    height: 100px !important;
  }
  &-email {
    height: 40px;
    border-radius: 4px;
    background-color: #656565;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    &:hover {
      background-color: #727272;
    }
  }
}
